- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    = link_to "Leave Review #{restaurant.name}", new_restaurant_review_path(restaurant)

    %h3
    Reviews for
    = restaurant.name
    = image_tag restaurant.image.url(:thumb)

    - if restaurant.reviews.any?
      Average rating:
      = star_rating(restaurant.average_rating)

      %ul
        - restaurant.reviews.each do |review|
          %li
            = review.thoughts
            = link_to "Endorse", review_endorsements_path(review), method: :post, class: 'endorsements-link'
            %span.endorsements_count= review.endorsements.count
            = 'endorsement'.pluralize review.endorsements.count

    - else
      %p No reviews

- else
  No restaurants yet

%a(href='#{url_for(action: 'new', controller: 'restaurants')}') Add a restaurant
